#hero {
  background: url("../images/home-studio.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  .column {
    margin:25% 0;
  }
}

#benefits {
    .row {
        object-fit: contain;
    }
    .image {
        height: 500px;
    } img {
        max-height: 100%;
        object-fit: contain;
    }
}
