#hero {
  background: url("../images/home-studio.jpg") center center no-repeat;
  background-size: cover;
  color: white; }
  #hero .column {
    margin: 25% 0; }

#benefits {
  background-color: #2c3e50; }

#testimonials {
  background-color: #3498db; }
  #testimonials #testimonials, #testimonials .swiper-slide {
    background-color: #3498db; }
  #testimonials .mobile-swiper {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px; }
  #testimonials .desktop-swiper {
    width: 100%;
    height: 100%; }
  #testimonials .desktop-swiper .swiper-textcontainer {
    padding: 50px; }
  #testimonials .desktop-swiper .slide-img {
    width: 400px;
    height: 400px; }
  #testimonials .desktop-swiper p {
    width: 500px; }
  #testimonials .swiper-slide {
    background-position: center;
    background-size: cover;
    padding: 50px;
    box-sizing: border-box; }
  #testimonials .desktop-swiper .swiper-slide {
    padding: 0px; }
